:root {
	--Bright_Blue: hsl(220, 98%, 61%);
	--checkedLabelColor: hsl(234, 11%, 52%);

	/* dark theme colors */
	--backgroundBody: hsl(235, 21%, 11%);
	--itemBackground: hsl(235, 24%, 19%);
	--taskColor: hsl(234, 39%, 85%);
	--taskColor__hover: hsl(236, 33%, 92%);
	--Dark_Grayish_Blue: hsl(234, 11%, 52%);
	--Very_Dark_Grayish_Blue: hsl(233, 14%, 35%);
	--borderItem: hsl(237, 14%, 26%);

	--linear_gradient: linear-gradient(
		135deg,
		hsl(192, 100%, 67%),
		hsl(280, 87%, 65%)
	);

	--imageBackground: url('../assets/images/bg-mobile-dark.jpg');
	--checkbox_checked: url('../assets/images/icon-check.svg');

	--imageClose: url('../assets/images/icon-cross.svg');

	--imageTheme: url('../assets/images/icon-sun.svg');
	--imageBackgroundDesktop: url('../assets/images/bg-desktop-light.jpg');
}

.bod {
	background:
		top / 100vw 30vh no-repeat var(--imageBackground) var(--backgroundBody);
	color: white;
}

.body-light {
	background:
		top / 100vw 30vh no-repeat url('../assets/images/bg-mobile-light.jpg')
		var(--backgroundBody);
}

.body-dark {
	background:
		top / 100vw 30vh no-repeat url('../assets/images/bg-mobile-dark.jpg')
		var(--backgroundBody);
}

.contentTitle,
.contText,
.contMid {
	width: 90vw;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.textGray {
	color: var(--Dark_Grayish_Blue);
	font-weight: 400;
}

.contentTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.contentTitle__title {
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: 8px;
}

.contentTitle__labelClick {
	display: block;
	width: 20px;
	height: 20px;
	background: center / contain no-repeat var(--imageTheme);
}

.contText {
	height: 50px;

	position: relative;
	display: flex;
	align-items: center;

	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 20px;
}

.contText__input {
	width: 100%;
	height: 100%;
	padding-left: 50px;
	background-color: var(--itemBackground);
	border: none;
	outline: none;
	caret-color: var(--Bright_Blue);
}

.contMid {
	background-color: var(--itemBackground);
	border-radius: 10px;
}

.todoCont__div,
.infoAndClean {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}

.todoCont__div {
	position: relative;
	width: 100%;

	border-bottom: solid 2px var(--borderItem);
	color: var(--taskColor);
}

.todoCont__divCheckbox {
	padding-left: 30px;
}

.todoCont__Close {
	width: 15px;
	height: 15px;
	border: none;
	outline: none;
	background: center / contain no-repeat var(--imageClose);
}

.infoAndClean {
	position: relative;
	width: 100%;
}

.actionsButtons {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-left: 20%;
	padding-right: 20%;
	left: 0;
	top: 70px;
	background-color: var(--itemBackground);
}
.actionsButtons__label {
	font-size: 16px;
	font-weight: 700;
}
.infoAndClean__button {
	border: none;
	background: none;
	color: inherit;
}

.infoAndClean__label,
.infoAndClean__button {
	opacity: 0.9;
}

.contText::after,
.todoCont__label::after {
	position: absolute;
	width: 20px;
	height: 20px;
	content: '';
	left: 20px;
	border-radius: 10px;
	background-color: transparent;
	border: solid 1px var(--Dark_Grayish_Blue);
}

@media (min-width: 700px) {
	.bod,
	.actionsButtons__label {
		font-size: 18px;
	}
	.bod {
		background:
			top / 100vw 30vh no-repeat var(--imageBackgroundDesktop)
			var(--backgroundBody);
	}
	.contentTitle__labelClick {
		width: 30px;
		height: 30px;
	}

	.contMid {
		border-radius: 10px;
	}
	.actionsButtons {
		position: static;
		max-width: 300px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.contText,
	.todoCont__div,
	.infoAndClean {
		height: 65px;
	}
	.todoCont__Close {
		visibility: hidden;
	}
}

@media (hover: hover) {
	.infoAndClean__button:hover,
	.actionsButtons__label:hover,
	.contentTitle__labelClick:hover,
	.todoCont__label:hover,
	.todoCont__Close:hover {
		cursor: pointer;
	}

	.todoCont__label:hover::after {
		background:
			linear-gradient(var(--itemBackground)) padding-box,
			var(--linear_gradient) border-box;
		border: solid 1px transparent;
	}

	.todoCont__div:hover .todoCont__Close {
		visibility: visible;
	}
}

.actionsButtons__checkbox:checked + .actionsButtons__label {
	color: var(--Bright_Blue);
}

.todoCont__checkbox:checked ~ .todoCont__label {
	text-decoration-line: line-through;
	text-decoration-thickness: 2px;
	color: var(--checkedLabelColor);
}

.todoCont__checkbox:checked ~ .todoCont__label::after {
	background:
		center / 10px 10px no-repeat var(--checkbox_checked),
		var(--linear_gradient);
	text-decoration-line: line-through;
}
